@model IEnumerable<_191_PROJECT_BACKEND.Models.ProductModel>

@{
    ViewData["Title"] = "MAIN";
}

<h1>MAIN LIST - PRODUCTS</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add product article</a>
</p>

@foreach (var item in Model)
{
    if (item.Id != null)
    {

        <h2>@Html.DisplayFor(modelItem => item.Product_title) #@Html.DisplayFor(modelItem => item.Id)</h2>
        <strong>@Html.DisplayNameFor(model => model.Id)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.Id)
        <br />
        <strong>@Html.DisplayNameFor(model => model.Product_title)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.Product_title)
        <br />
        <strong>@Html.DisplayNameFor(model => model.Ean_number)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.Ean_number)
        <br />
        <strong>@Html.DisplayNameFor(model => model.Product_description)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.Product_description)
        <br />
        <strong>@Html.DisplayNameFor(model => model.Price)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.Price)
        <br />
        <strong>@Html.DisplayNameFor(model => model.Amount_storage)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.Amount_storage)
        <br />
        <strong>@Html.DisplayNameFor(model => model.Expiration_date)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.Expiration_date)
        <br />
        <strong>@Html.DisplayNameFor(model => model.Category)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.Category)
        <br />
        <strong>@Html.DisplayNameFor(model => model.IsSwedish)</strong>
        <br />
        @Html.DisplayFor(modelItem => item.IsSwedish)
        <br />
        <br />
        <div>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
        </div>
        <br />
        <hr />
        <br />
    }

}

