@model IEnumerable<_191_PROJECT_BACKEND.Models.ProductModel>

@{
    ViewData["Title"] = "MAIN";
}

<h1>MAIN LIST - PRODUCTS</h1>

<p>
    <a asp-action="Create">Create product article</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ean_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount_storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiration_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSwedish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image_path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ean_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiration_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSwedish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image_path)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
